<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport'content='width=device-width, inital scale =1'>
    <title>Results</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <!--<link rel="stylesheet" href="css/style.css" type="text/css">-->
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
    .non_question {
      text-align: center;
    }
    
    .jumbotron {
      background: rgba(0, 0, 0, 0.15);
      animation: appear 2s;
      animation-fill-mode: forwards;
      padding: 15px;
      margin: 5px;
      color: black;
      ;
    }
    
    @keyframes appear {
        0% {
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(2);
            filter: blur(100px)
        }
        100% {
            opacity: 1;
            transform-origin: 50% 50%;
            transform: scale(1);
            filter: blur(0px)
        }
    }
    
    .incorrect_answer {
      color: red; <%#when the user chooses the wrong answer it will show their choice in red %>
    }
    .correct_answer {
      color: green; <%#if the user chooses the correct answer it will show up green %>
    }
    
    </style>
  </head>
  <body>
    <header class="result">
    <div class="container-fluid">
      <div class="jumbotron">
      <h1 class="non_question">Quiz Results</h1>
      
      <!--print out the amount of questions the user answered correctly-->
      <h3 class="non_question">You got <%= @correct_answers[:correct] %> out of <%=@correct_answers[:total_questions] %> questions correct </h3> 
      
      <!--same as questions.erb iteration-->
      <%counter = 0%>
      <% @quiz_questions.each do |questions| %>
        <div class="jumbotron">
        <h3><%= questions %></h3>
        <% @user_hash.each do |question, answers| %>
          <% if questions == question %>
            <% answers.each do |options| %>
              <% if options == @quiz_options[counter][@quiz_answers[counter]-1] %>
                <p class="correct_answer"><%= options %></p>
              <% elsif options == @user_options[counter] && @user_options[counter] != @quiz_options[counter][@quiz_answers[counter]-1] %>
                <p class="incorrect_answer"><%= options %></p>
              <% else %>
                <p><%= options %></p>
              <%end%>
            <%end%>
            <% counter += 1 %>
          <%end%>
        <%end%>
        </div>
      <%end%>
      </div>
    </div>
    </header>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Trivia 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    
    
  </body>
</html>
