<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport'content='width=device-width, inital scale =1'>
    <title>Results</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <style>
    
    .incorrect_answer {
      color: red; <%#when the user chooses the wrong answer it will show their choice in red %>
    }
    .correct_answer {
      color: green; <%#if the user chooses the correct answer it will show up green %>
    }
  </style>
  <body>
    
    <div class="container-fluid">
      <h1>Quiz Results</h1>
      <h3>You got <%= @correct_answers[:correct] %> out of <%=@correct_answers[:total_questions] %> questions correct </h3> <%# print out the amount of questions the user answered correctly%>
      <%counter = 0%>
      <% @quiz_questions.each do |questions| %>
        <h3><%= questions %></h3>
        <% @user_hash.each do |question, answers| %>
          <% if questions == question %>
            <% answers.each do |options| %>
              <% if options == @quiz_options[counter][@quiz_answers[counter]-1] %>
                <p class="correct_answer"><%= options %></p>
              <% elsif options == @user_options[counter] && @user_options[counter] != @quiz_options[counter][@quiz_answers[counter]-1] %>
                <p class="incorrect_answer"><%= options %></p>
              <% else %>
                <p><%= options %></p>
              <%end%>
            <%end%>
            <% counter += 1 %>
          <%end%>
        <%end%>
      <%end%>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Trivia 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    
    
  </body>
</html>
